<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: b_chistov
  Date: 05.11.13
  Time: 14:57
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
        >

<h:head>
    <h:outputStylesheet library="css" name="bootstrap.min.css"/>
    <title>Simple JSF Facelets page</title>
</h:head>

<h:body>
    <ui:composition>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <ui:insert name="panel-title"/>
                </h3>
            </div>
            <div class="panel-body list-group">
                <ui:insert name="panel-content"/>
            </div>
        </div>
    </ui:composition>
    <h:outputScript library="js" name="jquery.js"/>
    <h:outputScript library="js" name="bootstrap.min.js"/>
</h:body>

</html>