<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: b_chistov
  Date: 06.11.13
  Time: 9:37
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>Simple JSF Facelets page</title>
</h:head>

<h:body>
    <ui:composition template="content-template.xhtml">
        <ui:define name="panel-title">
            <h:outputLabel value="#{messages.EditContractTitle}"/>
        </ui:define>
        <ui:define name="panel-content">
            <h:form styleClass="form-horizontal">

                <!-- № Договора -->
                <div class="form-group">
                    <h:outputLabel value="#{messages.ContractNum}" styleClass="col-sm-4 control-label"/>

                    <div class="col-sm-6">
                        <h:inputText
                                id="contractNum" binding="#{contractNum}"
                                value="#{editContractController.contract.contractNumber}"
                                required="true" requiredMessage="#{messages.NotNullMsgSum}"
                                styleClass="form-control"/>
                    </div>

                </div>
                <div class="col-sm-10 alert alert-warning #{contractNum.valid ? 'hidden' : 'show'}">
                    <h:message for="contractNum"/>
                </div>

                <!-- Начало действия  -->
                <div class="form-group">
                    <h:outputLabel value="#{messages.ContractStart}" styleClass="col-sm-4 control-label"/>

                    <div class="col-sm-6">
                        <h:selectOneMenu value="#{editContractController.contract.startDate}"
                                         styleClass="form-control" id="contractStart" binding="#{contractStart}"
                                         required="true" requiredMessage="#{messages.NotNullMsgSum}">
                            <f:converter converterId="semesterConverter"/>
                            <f:selectItems value="#{manageStudySemesterController.semesters}" var="semester"
                                           itemLabel="#{semester.semester == 1 ? messages.StudySemester1 : messages.StudySemester2} - #{semester.startYear} / #{semester.endYear}"
                                           itemValue="#{semester}"/>
                        </h:selectOneMenu>
                    </div>

                </div>
                <div class="col-sm-10 alert alert-warning #{contractStart.valid ? 'hidden' : 'show'}">
                    <h:message for="contractStart"/>
                </div>

                <!-- Конец действия  -->
                <div class="form-group">
                    <h:outputLabel value="#{messages.ContractEnd}" styleClass="col-sm-4 control-label"/>

                    <div class="col-sm-6">
                        <h:selectOneMenu value="#{editContractController.contract.endDate}"
                                         styleClass="form-control" id="contractEnd" binding="#{contractEnd}"
                                         required="true" requiredMessage="#{messages.NotNullMsgSum}">
                            <f:converter converterId="semesterConverter"/>
                            <f:selectItems value="#{manageStudySemesterController.semesters}" var="semester"
                                           itemLabel="#{semester.semester == 1 ? messages.StudySemester1 : messages.StudySemester2} - #{semester.startYear} / #{semester.endYear}"
                                           itemValue="#{semester}"/>
                        </h:selectOneMenu>
                    </div>

                </div>
                <div class="col-sm-10 alert alert-warning #{contractEnd.valid ? 'hidden' : 'show'}">
                    <h:message for="contractEnd"/>
                </div>

                <!-- Студент  -->

                <div class="form-group">
                    <h:outputLabel value="#{messages.ContractFIO}" styleClass="col-sm-4 control-label"/>

                    <div class="col-sm-6">
                        <h:inputText
                                id="student" disabled="true"
                                value="#{editContractController.contract.student.lastName} #{editContractController.contract.student.firstName} #{editContractController.contract.student.surname}"
                                styleClass="form-control"/>
                    </div>
                </div>

                <!-- Форма обучения  -->
                <div class="form-group">
                    <h:outputLabel value="#{messages.ContractForm}" styleClass="col-sm-4 control-label"/>

                    <div class="col-sm-6">
                        <h:selectOneMenu value="#{editContractController.contract.form}"
                                         styleClass="form-control" id="contractForm" binding="#{contractForm}"
                                         required="true" requiredMessage="#{messages.NotNullMsgSum}">
                            <f:converter converterId="formConverter"/>
                            <f:selectItems value="#{manageFormController.forms}" var="form"
                                           itemLabel="#{form.name}"
                                           itemValue="#{form}"/>
                        </h:selectOneMenu>
                    </div>
                </div>
                <div class="col-sm-10 alert alert-warning #{contractForm.valid ? 'hidden' : 'show'}">
                    <h:message for="contractForm"/>
                </div>

                <!-- Специальность  -->
                <div class="form-group">
                    <h:outputLabel value="#{messages.ContractSpeciality}" styleClass="col-sm-4 control-label"/>

                    <div class="col-sm-6">
                        <h:selectOneMenu value="#{editContractController.contract.speciality}"
                                         styleClass="form-control" id="contractSpeciality"
                                         binding="#{contractSpeciality}"
                                         required="true" requiredMessage="#{messages.NotNullMsgSum}">
                            <f:converter converterId="specialityConverter"/>
                            <f:selectItems value="#{manageSpecialityController.specialities}" var="speciality"
                                           itemLabel="#{speciality.specialityCode} - #{speciality.name}"
                                           itemValue="#{speciality}"/>
                        </h:selectOneMenu>
                    </div>
                </div>
                <div class="col-sm-10 alert alert-warning #{contractSpeciality.valid ? 'hidden' : 'show'}">
                    <h:message for="contractSpeciality"/>
                </div>

                <!-- Группа  -->
                <div class="form-group">
                    <h:outputLabel value="#{messages.Group}" styleClass="col-sm-4 control-label"/>

                    <div class="col-sm-6">
                        <h:selectOneMenu value="#{editContractController.contract.group}"
                                         styleClass="form-control" id="contractGroup" binding="#{contractGroup}"
                                         required="true" requiredMessage="#{messages.NotNullMsgSum}"
                                >
                            <f:converter converterId="groupConverter"/>
                            <f:selectItems value="#{manageGroupController.groups}" var="group"
                                           itemLabel="#{group.name}"
                                           itemValue="#{group}"/>
                        </h:selectOneMenu>
                    </div>
                </div>
                <div class="col-sm-10 alert alert-warning #{contractGroup.valid ? 'hidden' : 'show'}">
                    <h:message for="contractGroup"/>
                </div>

                <!-- Статус  -->
                <div class="form-group">
                    <h:outputLabel value="#{messages.Status}" styleClass="col-sm-4 control-label"/>

                    <div class="col-sm-6">
                        <h:selectOneMenu value="#{editContractController.contract.status}"
                                         styleClass="form-control" id="contractStatus" binding="#{contractStatus}"
                                         required="true" requiredMessage="#{messages.NotNullMsgSum}">
                            <f:converter converterId="statusConverter"/>
                            <f:selectItems value="#{manageStatusController.statuses}" var="status"
                                           itemLabel="#{status.name}"
                                           itemValue="#{status}"/>
                        </h:selectOneMenu>
                    </div>
                </div>
                <div class="col-sm-10 alert alert-warning #{contractStatus.valid ? 'hidden' : 'show'}">
                    <h:message for="contractStatus"/>
                </div>

                <span class="help-block"><h:outputLabel value="* #{messages.StatusWarning}"/></span>

                <div class="col-sm-10 alert alert-warning #{(not facesContext.validationFailed) and (not empty facesContext.messageList) ? 'show' : 'hidden'}">
                    <h:messages showSummary="true" showDetail="true" globalOnly="true"/>
                </div>
                <div class="form-group">
                    <div class="btn-group col-sm-offset-1 col-sm-10">
                        <h:commandButton value="#{messages.SaveEdit}"
                                         action="#{editContractController.save}"
                                         styleClass="btn btn-primary">
                        </h:commandButton>
                        <h:commandButton value="#{messages.GoBack}"
                                         immediate="true"
                                         actionListener="#{editContractController.back}"
                                         styleClass="btn btn-default"
                                         onclick="history.back(); return false;">
                        </h:commandButton>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>

</html>