<!--
  Created by IntelliJ IDEA.
  User: Boris Chistov
  Date: 04.11.13
  Time: 15:36
-->
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
        >

<h:head>
    <title>Simple JSF Facelets page</title>
</h:head>

<h:body>
    <ui:composition template="content-template.xhtml">
        <ui:define name="panel-title">
            <h:outputLabel value="#{messages.Title}"/>
        </ui:define>
        <ui:define name="panel-content">
            <h:form styleClass="form-horizontal">
                <div class="form-group">
                    <h:outputLabel value="#{messages.LastName}" styleClass="col-sm-4 control-label"/>

                    <div class="col-sm-6">
                        <h:inputText
                                id="lastName" binding="#{lastName}"
                                value="#{editStudentController.student.lastName}"
                                required="true" requiredMessage="#{messages.NotNullMsgSum}"
                                styleClass="form-control"/>
                    </div>

                </div>
                <div class="col-sm-10 alert alert-warning #{lastName.valid ? 'hidden' : 'show'}">
                    <h:message for="lastName"/>
                </div>
                <div class="form-group">
                    <h:outputLabel value="#{messages.FirstName}" styleClass="col-sm-4 control-label"/>

                    <div class="col-sm-6">
                        <h:inputText
                                id="firstName" binding="#{firstName}"
                                value="#{editStudentController.student.firstName}"
                                required="true" requiredMessage="#{messages.NotNullMsgSum}"
                                styleClass="form-control"/>
                    </div>
                </div>
                <div class="col-sm-10 alert alert-warning #{firstName.valid ? 'hidden' : 'show'}">
                    <h:message for="firstName"/>
                </div>
                <div class="form-group">
                    <h:outputLabel value="#{messages.Surname}" styleClass="col-sm-4 control-label"/>

                    <div class="col-sm-6">
                        <h:inputText
                                id="surname" binding="#{surname}"
                                value="#{editStudentController.student.surname}"
                                required="true" requiredMessage="#{messages.NotNullMsgSum}"
                                styleClass="form-control"/>
                    </div>

                </div>
                <div class="col-sm-10 alert alert-warning #{surname.valid ? 'hidden' : 'show'}">
                    <h:message for="surname"/>
                </div>

                <div class="form-group">
                    <h:outputLabel value="#{messages.CardNumber}" styleClass="col-sm-4 control-label"/>

                    <div class="col-sm-6">
                        <h:inputText
                                id="cardNumber" binding="#{cardNumber}"
                                value="#{editStudentController.student.cardNumber}"
                                required="true" requiredMessage="#{messages.NotNullMsgSum}"
                                styleClass="form-control"/>
                    </div>

                </div>
                <div class="col-sm-10 alert alert-warning #{cardNumber.valid ? 'hidden' : 'show'}">
                    <h:message for="cardNumber"/>
                </div>
                <div class="form-group">
                    <h:outputLabel value="#{messages.RecordBookNumber}" styleClass="col-sm-4 control-label"/>

                    <div class="col-sm-6">
                        <h:inputText
                                id="recordBookNumber" binding="#{recordBookNumber}"
                                value="#{editStudentController.student.recordBookNumber}"
                                required="true" requiredMessage="#{messages.NotNullMsgSum}"
                                styleClass="form-control"/>
                    </div>

                </div>
                <div class="col-sm-10 alert alert-warning #{recordBookNumber.valid ? 'hidden' : 'show'}">
                    <h:message for="recordBookNumber"/>
                </div>
                <span class="help-block"><h:outputLabel value="* #{messages.UniqueWarning}"/></span>

                <div class="col-sm-10 alert alert-warning #{(not facesContext.validationFailed) and (not empty facesContext.messageList) ? 'show' : 'hidden'}">
                    <h:messages showSummary="true" showDetail="true" globalOnly="true"/>
                </div>
                <div class="form-group">
                    <div class="btn-group col-sm-offset-1 col-sm-10">
                        <h:commandButton value="#{messages.SaveEdit}"
                                         action="#{editStudentController.saveStudent}"
                                         styleClass="btn btn-primary">
                        </h:commandButton>
                        <h:commandButton value="#{messages.ResetForm}" immediate="true"
                                         action="#{editStudentController.reset}"
                                         styleClass="btn btn-default">
                        </h:commandButton>
                        <h:link value="#{messages.GoBack}" immediate="true"
                                outcome="/Admins/manageStudentsView.xhtml" styleClass="btn btn-default"/>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>

</html>