<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: b_chistov
  Date: 06.11.13
  Time: 9:37
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>Simple JSF Facelets page</title>
</h:head>

<h:body>
    <ui:composition template="content-template.xhtml">
        <ui:define name="panel-title">
            <h:outputLabel value="#{messages.ContractList}"/>
        </ui:define>
        <ui:define name="panel-content">
            <h:form styleClass="form-horizontal">
                <small>
                    <h:dataTable value="#{manageContractController.contractsByStudent}" var="contract"
                                 styleClass="table">
                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="#{messages.ContractNum}"/>
                            </f:facet>
                            <h:outputLabel value="#{contract.contractNumber}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="#{messages.ContractStart}"/>
                            </f:facet>
                            <h:outputLabel
                                    value="#{contract.startDate.semester eq 1 ? messages.StudySemester1 : messages.StudySemester2} #{contract.startDate.startYear} / #{contract.startDate.endYear}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="#{messages.ContractEnd}"/>
                            </f:facet>
                            <h:outputLabel
                                    value="#{contract.endDate.semester eq 1 ? messages.StudySemester1 : messages.StudySemester2} #{contract.endDate.startYear} / #{contract.endDate.endYear}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="#{messages.ContractForm}"/>
                            </f:facet>
                            <h:outputLabel
                                    value="#{contract.form.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="#{messages.ContractStatus}"/>
                            </f:facet>
                            <h:outputLabel value="#{contract.status.name}"/>
                        </h:column>
                        <h:column>
                            <h:link value="#{messages.EditStudent}" outcome="/Admins/editContractView.xhtml">
                                <f:param name="#{navUtils.contractParam}" value="#{contract.id}"/>
                            </h:link>
                        </h:column>
                    </h:dataTable>
                </small>
                <h:link value="#{messages.AddObject}" outcome="/Admins/editContractView.xhtml">
                    <f:param name="#{navUtils.studentPram}" value="#{editStudentController.student.id}"/>
                    <f:param name="#{navUtils.contractParam}" value="0"/>
                </h:link>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>

</html>