<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: b_chistov
  Date: 05.11.13
  Time: 11:29
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>Simple JSF Facelets page</title>
</h:head>

<h:body>
    <ui:composition template="content-template.xhtml">
        <ui:define name="panel-title">
            <h:outputLabel value="#{messages.HeaderStud}"/>
        </ui:define>
        <ui:define name="panel-content">
            <small>
                <h:dataTable value="#{manageStudentsController.students}" var="student" styleClass="table">
                    <h:column>
                        <f:facet name="header">
                            <h:outputLabel value="#{messages.LastName}"/>
                        </f:facet>
                        <h:outputLabel value="#{student.lastName}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputLabel value="#{messages.FirstName}"/>
                        </f:facet>
                        <h:outputLabel value="#{student.firstName}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputLabel value="#{messages.Surname}"/>
                        </f:facet>
                        <h:outputLabel value="#{student.surname}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputLabel value="#{messages.CardNumber}"/>
                        </f:facet>
                        <h:outputLabel value="#{student.cardNumber}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputLabel value="#{messages.RecordBookNumber}"/>
                        </f:facet>
                        <h:outputLabel value="#{student.recordBookNumber}"/>
                    </h:column>
                    <h:column>
                        <h:link value="#{messages.EditStudent}" outcome="/Admins/editStudentView.xhtml">
                            <f:param name="#{navUtils.studentPram}" value="#{student.id}"/>
                        </h:link>
                    </h:column>
                </h:dataTable>
            </small>
            <p>
                <h:button styleClass="btn" value="#{messages.AddObject}" outcome="/Admins/editStudentView.xhtml">
                    <f:param name="#{navUtils.studentPram}" value="0"/>
                </h:button>
            </p>
        </ui:define>
    </ui:composition>
</h:body>

</html>