<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: b_chistov
  Date: 06.11.13
  Time: 9:37
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>Simple JSF Facelets page</title>
</h:head>

<h:body>
    <ui:composition template="content-template.xhtml">
        <ui:define name="panel-title">
            <h:outputLabel value="#{messages.StudySemesterTitle}"/>
        </ui:define>
        <ui:define name="panel-content">
            <h:form styleClass="form-horizontal">
                <div class="form-group">
                    <h:outputLabel value="#{messages.StudyYearStart}" styleClass="col-sm-4 control-label"/>

                    <div class="col-sm-6">
                        <h:inputText
                                id="startYear" binding="#{startYear}"
                                value="#{manageStudySemesterController.semester.startYear}"
                                required="true" requiredMessage="#{messages.NotNullMsgSum}"
                                styleClass="form-control">
                            <f:ajax event="keyup" render="endYear"/>
                        </h:inputText>
                    </div>

                </div>
                <div class="col-sm-10 alert alert-warning #{startYear.valid ? 'hidden' : 'show'}">
                    <h:message for="startYear"/>
                </div>

                <div class="form-group">
                    <h:outputLabel value="#{messages.StudyYearEnd}" styleClass="col-sm-4 control-label"/>

                    <div class="col-sm-6">
                        <h:inputText
                                id="endYear" binding="#{endYear}"
                                value="#{manageStudySemesterController.semester.endYear}"
                                required="true" requiredMessage="#{messages.NotNullMsgSum}"
                                styleClass="form-control" disabled="true"/>
                    </div>

                </div>
                <div class="col-sm-10 alert alert-warning #{endYear.valid ? 'hidden' : 'show'}">
                    <h:message for="endYear"/>
                </div>

                <div class="form-group">
                    <h:outputLabel value="#{messages.StudySemester}" styleClass="col-sm-4 control-label"/>

                    <div class="col-sm-6">
                        <h:selectOneMenu value="#{manageStudySemesterController.semester.semester}"
                                         styleClass="form-control" id="semester" binding="#{semester}"
                                         required="true" requiredMessage="#{messages.NotNullMsgSum}">
                            <f:selectItem itemLabel="#{messages.StudySemester1}" itemValue="1"/>
                            <f:selectItem itemLabel="#{messages.StudySemester2}" itemValue="2"/>
                        </h:selectOneMenu>
                    </div>

                </div>
                <div class="col-sm-10 alert alert-warning #{semester.valid ? 'hidden' : 'show'}">
                    <h:message for="semester"/>
                </div>

                <span class="help-block"><h:outputLabel value="* #{messages.StatusWarning}"/></span>

                <div class="col-sm-10 alert alert-warning #{(not facesContext.validationFailed) and (not empty facesContext.messageList) ? 'show' : 'hidden'}">
                    <h:messages showSummary="true" showDetail="true" globalOnly="true"/>
                </div>
                <div class="form-group">
                    <div class="btn-group col-sm-offset-1 col-sm-10">
                        <h:commandButton value="#{messages.SaveEdit}"
                                         action="#{manageStudySemesterController.save}"
                                         styleClass="btn btn-primary">
                        </h:commandButton>
                        <h:commandButton value="#{messages.ResetForm}" type="submit"
                                         immediate="true"
                                         action="#{manageStudySemesterController.reset}"
                                         styleClass="btn btn-default">
                        </h:commandButton>

                    </div>
                </div>
                <small>
                    <h:dataTable value="#{manageStudySemesterController.semesters}" var="semester" styleClass="table">
                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="#{messages.StudyYearStart}"/>
                            </f:facet>
                            <h:outputLabel value="#{semester.startYear}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="#{messages.StudyYearEnd}"/>
                            </f:facet>
                            <h:outputLabel value="#{semester.endYear}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="#{messages.StudySemester}"/>
                            </f:facet>
                            <h:outputLabel
                                    value="#{semester.semester eq 1? messages.StudySemester1 : messages.StudySemester2}"/>
                        </h:column>
                        <h:column>
                            <h:commandLink value="#{messages.EditStudent}"
                                           immediate="true"
                                           actionListener="#{manageStudySemesterController.selectSemester(semester)}">
                                <f:ajax execute="@this" render="@form"/>
                            </h:commandLink>
                        </h:column>
                        <h:column>
                            <h:commandLink value="#{messages.Delete}"
                                           immediate="true"
                                           actionListener="#{manageStudySemesterController.delete(semester)}">
                                <f:ajax execute="@this" render="@form"/>
                            </h:commandLink>
                        </h:column>
                    </h:dataTable>
                </small>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>

</html>