<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: b_chistov
  Date: 06.11.13
  Time: 9:37
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>Simple JSF Facelets page</title>
</h:head>

<h:body>
    <ui:composition template="content-template.xhtml">
        <ui:define name="panel-title">
            <h:outputLabel value="#{messages.PaymentPlan}"/>
        </ui:define>
        <ui:define name="panel-content">
            <h:form styleClass="form-horizontal">

                <!-- Семестр -->
                <div class="form-group">
                    <h:outputLabel value="#{messages.StudySemester}" styleClass="col-sm-4 control-label"/>

                    <div class="col-sm-6">
                        <h:selectOneMenu
                                id="studySemester" binding="#{studySemester}"
                                value="#{managePaymentController.paymentPlan.studySemester}"
                                required="true" requiredMessage="#{messages.NotNullMsgSum}"
                                styleClass="form-control">
                            <f:converter converterId="semesterConverter"/>
                            <f:selectItems value="#{managePaymentController.studySemesters}" var="semester"
                                           itemLabel="#{semester.semester == 1 ? messages.StudySemester1 : messages.StudySemester2} - #{semester.startYear} / #{semester.endYear}"
                                           itemValue="#{semester}"/>
                        </h:selectOneMenu>
                    </div>

                </div>
                <div class="col-sm-10 alert alert-warning #{studySemester.valid ? 'hidden' : 'show'}">
                    <h:message for="studySemester"/>
                </div>

                <!-- Форма обучения  -->
                <div class="form-group">
                    <h:outputLabel value="#{messages.ContractForm}" styleClass="col-sm-4 control-label"/>

                    <div class="col-sm-6">
                        <h:selectOneMenu value="#{managePaymentController.paymentPlan.form}"
                                         styleClass="form-control" id="form" binding="#{form}"
                                         required="true" requiredMessage="#{messages.NotNullMsgSum}">
                            <f:converter converterId="formConverter"/>
                            <f:selectItems value="#{managePaymentController.forms}" var="form"
                                           itemLabel="#{form.name}"
                                           itemValue="#{form}"/>
                        </h:selectOneMenu>
                    </div>
                </div>
                <div class="col-sm-10 alert alert-warning #{form.valid ? 'hidden' : 'show'}">
                    <h:message for="form"/>
                </div>

                <!-- Специальность  -->
                <div class="form-group">
                    <h:outputLabel value="#{messages.ContractSpeciality}" styleClass="col-sm-4 control-label"/>

                    <div class="col-sm-6">
                        <h:selectOneMenu value="#{managePaymentController.paymentPlan.speciality}"
                                         styleClass="form-control" id="speciality"
                                         binding="#{speciality}"
                                         required="true" requiredMessage="#{messages.NotNullMsgSum}">
                            <f:converter converterId="specialityConverter"/>
                            <f:selectItems value="#{managePaymentController.specialities}" var="speciality"
                                           itemLabel="#{speciality.specialityCode} - #{speciality.name}"
                                           itemValue="#{speciality}"/>
                        </h:selectOneMenu>
                    </div>
                </div>
                <div class="col-sm-10 alert alert-warning #{speciality.valid ? 'hidden' : 'show'}">
                    <h:message for="speciality"/>
                </div>

                <!-- Сумма оплаты  -->
                <div class="form-group">
                    <h:outputLabel value="#{messages.PaymentSum}" styleClass="col-sm-4 control-label"/>

                    <div class="col-sm-6">
                        <h:inputText value="#{managePaymentController.paymentPlan.paymentSum}" required="true"
                                     requiredMessage="#{messages.NotNullMsgSum}" id="sum" binding="#{sum}"
                                     converter="moneyConverter" styleClass="form-control"/>
                    </div>
                </div>
                <div class="col-sm-10 alert alert-warning #{sum.valid ? 'hidden' : 'show'}">
                    <h:message for="sum"/>
                </div>

                <!-- дата создания плана
                <div class="form-group">
                    <h:outputLabel value="#{messages.Status}" styleClass="col-sm-4 control-label"/>

                    <div class="col-sm-6">
                        <h:selectOneMenu value="#{editContractController.contract.status}"
                                         styleClass="form-control" id="contractStatus" binding="#{contractStatus}"
                                         required="true" requiredMessage="#{messages.NotNullMsgSum}">
                            <f:converter converterId="statusConverter"/>
                            <f:selectItems value="#{manageStatusController.statuses}" var="status"
                                           itemLabel="#{status.name}"
                                           itemValue="#{status}"/>
                        </h:selectOneMenu>
                    </div>
                </div>
                <div class="col-sm-10 alert alert-warning #{contractStatus.valid ? 'hidden' : 'show'}">
                    <h:message for="contractStatus"/>
                </div>
                -->

                <span class="help-block"><h:outputLabel value="* #{messages.StatusWarning}"/></span>

                <div class="col-sm-10 alert alert-warning #{(not facesContext.validationFailed) and (not empty facesContext.messageList) ? 'show' : 'hidden'}">
                    <h:messages showSummary="true" showDetail="true" globalOnly="true"/>
                </div>
                <div class="form-group">
                    <div class="btn-group col-sm-offset-1 col-sm-10">
                        <h:commandButton value="#{messages.SaveEdit}"
                                         action="#{managePaymentController.save}"
                                         styleClass="btn btn-primary">
                        </h:commandButton>
                        <h:commandButton value="#{messages.ResetForm}"
                                         immediate="true"
                                         actionListener="#{managePaymentController.reset()}"
                                         styleClass="btn btn-default">
                            <f:ajax execute="@this" render="@form"/>
                        </h:commandButton>
                    </div>
                </div>
                <small>
                    <h:dataTable value="#{managePaymentController.paymentPlans}" var="plan" styleClass="table">
                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="#{messages.StudySemester}"/>
                            </f:facet>
                            <h:outputLabel value="#{plan.studySemester.semester} "/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="#{messages.StudySemesterYear}"/>
                            </f:facet>
                            <h:outputLabel value="#{plan.studySemester.startYear}/#{plan.studySemester.endYear}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="#{messages.SpecialityName}"/>
                            </f:facet>
                            <h:outputLabel value="#{plan.speciality.specialityCode} - #{plan.speciality.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="#{messages.FormName}"/>
                            </f:facet>
                            <h:outputLabel value="#{plan.form.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="#{messages.PaymentSum}"/>
                            </f:facet>
                            <h:outputLabel value="#{plan.paymentSum}" converter="moneyConverter"/>
                        </h:column>
                        <h:column>
                            <h:commandLink value="#{messages.EditStudent}"
                                           actionListener="#{managePaymentController.select(plan)}"
                                           immediate="true">
                                <f:ajax execute="@this" render="@form"/>
                            </h:commandLink>
                        </h:column>
                    </h:dataTable>
                </small>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>

</html>