<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: b_chistov
  Date: 06.11.13
  Time: 9:37
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>Simple JSF Facelets page</title>
</h:head>

<h:body>
    <ui:composition template="content-template.xhtml">
        <ui:define name="panel-title">
            <h:outputLabel value="#{messages.GroupTitle}"/>
        </ui:define>
        <ui:define name="panel-content">
            <h:form styleClass="form-horizontal">
                <div class="form-group">
                    <h:outputLabel value="#{messages.GroupName}" styleClass="col-sm-4 control-label"/>

                    <div class="col-sm-6">
                        <h:inputText
                                id="groupName" binding="#{groupName}"
                                value="#{manageGroupController.group.name}"
                                required="true" requiredMessage="#{messages.NotNullMsgSum}"
                                styleClass="form-control"/>
                    </div>

                </div>
                <div class="col-sm-10 alert alert-warning #{groupName.valid ? 'hidden' : 'show'}">
                    <h:message for="groupName"/>
                </div>
                <span class="help-block"><h:outputLabel value="* #{messages.GroupWarning}"/></span>

                <div class="col-sm-10 alert alert-warning #{(not facesContext.validationFailed) and (not empty facesContext.messageList) ? 'show' : 'hidden'}">
                    <h:messages showSummary="true" showDetail="true" globalOnly="true"/>
                </div>
                <div class="form-group">
                    <div class="btn-group col-sm-offset-1 col-sm-10">
                        <h:commandButton value="#{messages.SaveEdit}"
                                         action="#{manageGroupController.saveGroup}"
                                         styleClass="btn btn-primary">
                        </h:commandButton>
                        <h:commandButton value="#{messages.ResetForm}" type="submit"
                                         immediate="true"
                                         action="#{manageGroupController.reset}"
                                         styleClass="btn btn-default">
                        </h:commandButton>

                    </div>
                </div>
                <small>
                    <h:dataTable value="#{manageGroupController.groups}" var="group" styleClass="table">
                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="#{messages.GroupName}"/>
                            </f:facet>
                            <h:outputLabel value="#{group.name}"/>
                        </h:column>
                        <h:column>
                            <h:commandLink value="#{messages.EditStudent}"
                                           immediate="true"
                                           actionListener="#{manageGroupController.selectGroup(group)}">
                                <f:ajax execute="@this" render="@form"/>
                            </h:commandLink>
                        </h:column>
                        <h:column>
                            <h:commandLink value="#{messages.Delete}"
                                           immediate="true"
                                           actionListener="#{manageGroupController.delete(group)}">
                                <f:ajax execute="@this" render="@form"/>
                            </h:commandLink>
                        </h:column>
                    </h:dataTable>
                </small>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>

</html>