<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: b_chistov
  Date: 06.11.13
  Time: 9:37
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
        >

<h:head>
    <title>Simple JSF Facelets page</title>
</h:head>

<h:body>
    <ui:composition>
        <h:form>
            <ui:repeat value="#{manageStudentInvoicesController.contractList}" var="contract">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <h:outputLabel value="Договор № : #{contract.contractNumber}"/>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>Форма обучения : <h:outputLabel value="#{contract.form.name}"/></p>

                        <p>Специальность : <h:outputLabel value="#{contract.speciality.name}"/></p>

                        <p>Стутус контракта : <h:outputLabel value="#{contract.status.name}"/></p>

                    </div>
                    <h:dataTable value="#{manageStudentInvoicesController.getInvoices(contract)}" var="invoice"
                                 styleClass="table">
                        <h:column>
                            <h:outputText
                                    value="#{invoice.plan.studySemester.semester eq 1
                                ? messages.StudySemester1 : messages.StudySemester2} #{invoice.plan.studySemester.startYear} /
                                #{invoice.plan.studySemester.endYear}"/>
                        </h:column>
                        <h:column>
                            <h:outputText
                                    value="#{invoice.plan.paymentSum eq null ? '--' : invoice.plan.paymentSum.amount}"/>
                        </h:column>
                        <h:column>
                            <h:outputText
                                    value="#{invoice.invoiceNumber eq null ? '--' : invoice.invoiceNumber}"/>
                        </h:column>
                        <h:column>
                            <h:outputText
                                    value="#{invoice.invoiceCreationDate  eq null ? '--' : invoice.invoiceCreationDate}"/>
                        </h:column>
                        <h:column>
                            <h:graphicImage
                                    name="#{invoice.verified ? 'approved.png' : 'failed.png'}"
                                    library="images"
                                    rendered="#{invoice.invoiceNumber ne null}"/>
                        </h:column>
                        <h:column>
                            <h:commandLink
                                    value="Создать"
                                    action="#{manageStudentInvoicesController.createInvoice(invoice)}"
                                    rendered="#{invoice.plan.paymentSum ne null and invoice.id eq 0}">
                            </h:commandLink>
                            <h:commandLink
                                    value="Обновить"
                                    action="#{manageStudentInvoicesController.refreshInvoice(invoice)}"
                                    rendered="#{invoice.plan.paymentSum ne null and invoice.id ne 0}">
                            </h:commandLink>
                        </h:column>
                    </h:dataTable>
                </div>
            </ui:repeat>
        </h:form>
    </ui:composition>
</h:body>

</html>