<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: b_chistov
  Date: 05.11.13
  Time: 14:57
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
        >

<h:head>
    <h:outputStylesheet library="css" name="bootstrap.min.css"/>
    <title>Simple JSF Facelets page</title>
</h:head>

<h:body>
    <ui:composition>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Учебный процес<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <ui:repeat value="#{menuController.studyMenus}" var="menu">
                            <li class="#{menu.viewID eq facesContext.viewRoot.viewId ? 'active' : ''}"><h:link
                                    value="#{messages[menu.menuName]}"
                                    outcome="#{menu.viewID}"/></li>

                        </ui:repeat>
                    </ul>

                </li>

            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Финансы<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <ui:repeat value="#{menuController.financeMenus}" var="menu">
                            <li class="#{menu.viewID eq facesContext.viewRoot.viewId ? 'active' : ''}"><h:link
                                    value="#{messages[menu.menuName]}"
                                    outcome="#{menu.viewID}"/></li>

                        </ui:repeat>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><h:outputLink value="#">
                    <h:outputLabel value="#{authController.currentUser.lastName}
                    #{authController.currentUser.firstName.charAt(0)}.
                    #{authController.currentUser.surname.charAt(0)}."/>
                </h:outputLink></li>
                <li><a href="#{request.contextPath}/j_spring_security_logout">Выйти</a></li>
            </ul>
        </div>
    </ui:composition>
    <h:outputScript library="js" name="jquery.js"/>
    <h:outputScript library="js" name="bootstrap.min.js"/>
</h:body>

</html>