<!--
  Created by IntelliJ IDEA.
  User: Boris Chistov
  Date: 04.11.13
  Time: 14:32
-->
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

<h:body>
    <f:metadata>
        <f:viewParam name="#{navUtils.studentPram}"
                     value="#{editStudentController.student}"
                     converter="#{studentParamConverter}"/>
    </f:metadata>
    <ui:composition template="../WEB-INF/templates/main-template.xhtml">
        <ui:define name="title">
            Управление списками студентов МИРЭА
        </ui:define>
        <ui:define name="main-content">
            <ui:include src="../WEB-INF/templates/facelets/edit-student.xhtml"/>
            <h:panelGroup rendered="#{editStudentController.student.id > 0}">
                <ui:include src="../WEB-INF/templates/facelets/manage-contracts-small.xhtml"/>
            </h:panelGroup>
        </ui:define>
    </ui:composition>
</h:body>

</html>