<!--
  Created by IntelliJ IDEA.
  User: Boris Chistov
  Date: 04.11.13
  Time: 14:32
-->
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:body>
    <ui:composition template="/WEB-INF/templates/main-template.xhtml">
        <ui:define name="title">
            Управление списками студентов МИРЭА
        </ui:define>
        <ui:define name="main-content">
            <ui:include src="/WEB-INF/templates/facelets/manage-students.xhtml"/>
        </ui:define>
    </ui:composition>
</h:body>

</html>