<!--
  Created by IntelliJ IDEA.
  User: Boris Chistov
  Date: 04.11.13
  Time: 15:28
-->
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <f:facet name="first">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <h:outputStylesheet library="css" name="bootstrap.css"/>
    </f:facet>
    <title>Авторизация</title>
</h:head>
<h:body>
    <div class="container">

        <div class="panel" style="margin-top: 100px;">
            <div class="panel-body">
                <p class="lead">
                    Произошка ошибка. Вернитель пожалуйста назад и попробуйте свое действие снова.
                </p>
            </div>
        </div>
    </div>
    <h:outputScript name="js/jquery.js"/>
    <h:outputScript name="js/bootstrap.min.js"/>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-46314120-1', 'borischistov.com');
        ga('send', 'pageview');

    </script>
</h:body>
</html>