<!--
  Created by IntelliJ IDEA.
  User: Boris Chistov
  Date: 04.11.13
  Time: 15:28
-->
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <f:facet name="first">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <h:outputStylesheet library="css" name="bootstrap.css"/>
    </f:facet>
    <title>Авторизация</title>
</h:head>
<h:body>
    <div class="container">

        <h:form styleClass="form-horizontal">
            <div class="panel" style="margin-top: 100px;">
                <div class="panel-body">
                    <div class="form-group">
                        <h:outputLabel value="#{messages.Login}" styleClass="col-sm-4 control-label"/>

                        <div class="col-sm-6">
                            <h:inputText
                                    id="login" binding="#{login}"
                                    required="true" requiredMessage="#{messages.NotNullMsgSum}"
                                    value="#{loginController.login}"
                                    styleClass="form-control"/>
                        </div>

                    </div>
                    <div class="col-sm-10 alert alert-warning #{login.valid ? 'hidden' : 'show'}">
                        <h:message for="login"/>
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="#{messages.Password}" styleClass="col-sm-4 control-label"/>

                        <div class="col-sm-6">
                            <h:inputSecret
                                    id="Password" binding="#{Password}"
                                    value="#{loginController.password}"
                                    required="true" requiredMessage="#{messages.NotNullMsgSum}"
                                    styleClass="form-control"/>
                        </div>

                    </div>
                    <div class="col-sm-10 alert alert-warning #{Password.valid ? 'hidden' : 'show'}">
                        <h:message for="Password"/>
                    </div>
                    <div class="col-sm-10 alert alert-warning #{(not facesContext.validationFailed) and (not empty facesContext.messageList) ? 'show' : 'hidden'}">
                        <h:messages showSummary="true" showDetail="true" globalOnly="true"/>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-10">
                            <h:commandButton value="#{messages.LoginBtn}"
                                             action="#{loginController.doLogin}"
                                             styleClass="btn btn-primary">
                            </h:commandButton>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>

    </div>
    <h:outputScript name="js/jquery.js"/>
    <h:outputScript name="js/bootstrap.min.js"/>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-46314120-1', 'borischistov.com');
        ga('send', 'pageview');

    </script>
</h:body>
</html>